{% extends 'base.html' %}
{% block content %}

<div id="background"></div>
<h1>About Slang Terms</h1>

<h3>
    The word slang started to come into general use in the 1750s, but it wasn't included in a standard dictionary until 1828, when Noah Webster published his American Dictionary.
    Slang is a type of language that consists of words and phrases that are regarded as very informal, are more common in speech than writing, and are typically restricted to a particular context or group of people.
    with the boom of social media, slang words are made up on the daily, this website is here to help you keep up to date on the hip and happenings!
</h3>




{% endblock %}