body {
    background-color: #d1e4dc;
    background-image: url('https://i.imgur.com/0qh7vPL.jpg?1');
    background-size: cover;
    margin: auto;
    display: block;
    
  }
  nav{
      background-color: rgba(15, 124, 219, 0.112);
      color:rgb(3, 2, 2);
  }


 
h1 {
    box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.345);
    text-align: center;
    margin: 5vh auto;
    font-size: 8vh;
    color: #000000;
    width: 80%;
    padding: 3vh 3vh 3vh 3vh;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(255, 255, 255, 0.153);
    border-radius: 10px;
  
   
    
    


  }


  
header {
    
    text-align: center;
    margin: 5vh auto;
    font-size: 8vh;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(0, 0, 0);

}
p {
    background-color: none;
    text-align: center;
    margin: 5vh auto;
    width: 50%;
    font-size: 3vh;
    color: rgb(3, 2, 2);
    font-family: 'Quicksand', sans-serif;
}
 h3{
     display: block;
     margin: 10vh auto;
     font-size: 3vh;
     width: 60%;
     text-align: center;
     font-family: 'Quicksand', sans-serif;
     padding: 0 0 10vh 0;
 }

 #homepic {
     display: block;
     height: 50vh;
     margin: auto;
 }

 h2:hover {
    background-color: rgba(223, 123, 183, 0.112);
    box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.345);
    border-radius: 10px;

 }


 
