body {
    background-color: #d1e4dc;
  }

nav {
    background-color:#858c09;
    font-family: 'Quicksand', sans-serif;
  }
h1 {
    box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 5vh auto;
    font-size: 10vh;
    color: #000000;
    width: 80%;
    padding: 1vh 1vh 1vh 1vh;
    font-family: 'Quicksand', sans-serif;
  }
header {
    box-shadow: 0 4px 11px 1px rgba(0, 0, 0, 0.8);
    text-align: center;
    background-color: #edbae6;
    margin: 5vh auto;
    font-size: 8vh;
    color: #697e8c;
    width: 70%;
    font-family: 'Quicksand', sans-serif;
}
  
p {
    background-color: none;
    text-align: center;
    margin: 5vh auto;
    width: 50%;
    font-size: 4vh;
    color: rgb(3, 2, 2);
    font-family: 'Quicksand', sans-serif;
}